<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.man.cbm.system.mapper.UserMapper">
    <select id="getAllByCondition" parameterType="Map" resultType="com.bat.man.cbm.system.domain.User">
        SELECT
        tb_system_user.*
        FROM
        tb_system_user
        <where>
            tb_system_user.deleted = 0
            <if test="username!=null and username!=''">
                AND tb_system_user.username LIKE concat('%',#{username},'%')
            </if>
            <if test="nickname!=null and nickname!=''">
                AND tb_system_user.nickname LIKE concat('%',#{nickname},'%')
            </if>
            <if test="remark!=null and remark!=''">
                AND tb_system_user.remark LIKE concat('%',#{remark},'%')
            </if>
            <if test="state!=null and state!=''">
                AND tb_system_user.state = #{state}
            </if>
        </where>
        ORDER BY tb_system_user.update_time DESC
    </select>
</mapper>